[packages]
SQLAlchemy = "==1.4.23"
Flask = "==2.0.1"
PyMySQL = "==1.0.2"
requests-html = "*"
python-dotenv = "*"
requests = "*"
flask-wtf = "*"
joblib = "*"

[dev-packages]

[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = false
name = "pypidoubanio"
